
.header {
  background-color: #800080; 
  color: #ffffff; 
  padding: 10px; 
  text-align: center; 
  display: flex;
  justify-content: space-around;
}


.header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold; 
  font-size: 18px; 
  margin: 0 10px; 
  transition: color 0.3s; 
}

.header a:hover {
  color: #ff00ff;
}
.beautiful{
  text-align: center;
  color:#800080
}